# Template for Spring Properties file. Original should NEVER be commited to GitHub
spring.datasource.url=jdbc:postgresql://<Host URL>/<DB Name>
spring.datasource.username=<DB User>
spring.datasource.password=<DB Password>
spring.datasource.tomcat.max-active=12
spring.datasource.tomcat.test-on-borrow=true